
h1 {
  color: rgb(100, 100, 100);
  /*rgb 0-255 value*/
}

body {
  background-color: blue;
  /*name*/
}

p {
  font-size: 50px;
  line-height: 62px;
  font-family: 'ZCOOL KuaiLe', cursive;
}

